@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  box-sizing: border-box;
  overflow: hidden;
}


.header {
  width: fit-content;
  position: relative;
  color:  #faf00c ;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  z-index: 1;
}

.back-letter{
  top: 10px;
  left: 10px;
  width: 100%;
  text-wrap: nowrap;
  white-space: none;
  z-index: -1;
  color: black;
  position: absolute;
}

.button-group{
  display: flex;
  column-gap: 20px;
}

.button {
  background-color: #faf00c;
  border: 1px black solid;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  height: 40px;
  cursor: pointer;
  transition: margin 200ms ease;
}
.button:active:not(.no){
  margin: 10px  0  0 10px;
}

.yippie{
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
}


.no:hover{
  background-color: #a0a09c;
  cursor: not-allowed;
}